/* DrinkComponent.module.css */

/* MenuPage.module.css */

/* MenuPage.module.css */

/* index.css */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://res.cloudinary.com/kxnxchukwu/image/upload/v1689156103/iphone-14--4_3x_hxnmni.png")
      no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: auto; /* you can change this to "hidden" to prevent any scrolling */
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
  height: calc(100vh - 95px); /* Adjusted to fit into single screen */
  box-sizing: border-box;
}

.image {
  max-width: 100%;

  max-height: calc(
    50vh - 40px
  ); /* half of viewport height minus padding and gap */
  height: auto;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: Baskerville;
  font-weight: 200;
}

.menu {
  margin-left: 30px;
  margin-top: 10px;
  color: white;
  font-family: baskeville;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 2px 30px;
  color: white;
  font-family: baskeville;
}

/* MenuPage.module.css */

/* MenuPage.module.css */

.button {
  background-color: #1c1d1b;
  color: white; /* fallback color */
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2c2d2b;
}
