.menuContainer {
    width: 116px;
    height: 55px;
    top: 26px;
    left: 17px;
    position: relative;
}

.menuText {
font-family: Baskerville;
font-size: 48px;
font-weight: 400;
line-height: 55px;
letter-spacing: 0em;
text-align: left;
}

.menuButtonContainer {
    position: relative;
    margin: auto;
    margin-top: 35px;
    left: 40px
}

.menuButton {
font-family: Baskerville;
font-size: 21px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
background: linear-gradient(180deg, #D6FAA9 35.94%, #00A1FF 100%);
}

.menuDrinkContainer {
    position: relative;
    margin-top: 35px;
    right: 10px;
}