.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  padding: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 178px;
  height: 277px;
  border-radius: 6px;
  object-fit: cover;
}

.imageCaption {
  text-align: center;
  margin-top: 10px;
}
