.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  background-image: url("https://res.cloudinary.com/kxnxchukwu/image/upload/v1689091253/iphone-14-pro--1_3x_rzfeho.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logoImage {
  width: 100px;
  height: 100px;
  margin-top: 0.1rem;
}

.bar {
  margin-top: 10px;
  color: white;
  font-family: breksville;
}

.paragraph {
  margin-top: 20px;
  color: white;
  font-family: berksville;
  margin-left: 3rem;
  margin-right: 3rem;
}

.bottom {
  height: 50%;
  background-image: url("https://res.cloudinary.com/kxnxchukwu/image/upload/v1689091275/unsplashpoi7delfiva_2x_g82rfo.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
}

.button {
  width: 30%;
  height: 2.7rem;
  background: #1c1d1b;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: berksville;
  font-size: 1.2rem;
  /* add your button styles here */
}
